In [1]:
#testing

In [2]:
#1234

In [18]:
# Load Packages
library(tidyverse)
library(testthat)
library(digest)
library(repr)
library(tidymodels)

options(repr.matrix.max.rows = 6)
heart_data <- read_csv("data/processed.cleveland.data", col_names = FALSE)

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): X12, X13
dbl (12): X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [40]:
names <- c("age","sex","cp","trestbps","chol","fbs","restecg","thalach","exang","oldpeak","slope","ca","thal","num")
colnames(heart_data) <- names
heart_data

num_look <- group_by(heart_data, num) |>
            summarize(n=n())
            
num_look

heart_data_filter <- heart_data |>
                    select(num,sex,age,cp,trestbps)

heart_data_filter

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca  thal
1   63  1   1  145      233  1   2       150     0     2.3     3     0.0 6.0
2   67  1   4  160      286  0   2       108     1     1.5     2     3.0 3.0
3   67  1   4  120      229  0   2       129     1     2.6     2     2.0 7.0
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮   ⋮
301 57  1   4  130      131  0   0       115     1     1.2     2     1.0 7.0
302 57  0   2  130      236  0   2       174     0     0.0     2     1.0 3.0
303 38  1   3  138      175  0   0       173     0     0.0     1     ?   3.0
    num
1   0
2   2
3   1
⋮   ⋮
301 3
302 1
303 0

  num n
1 0   164
2 1    55
3 2    36
4 3    35
5 4    13

    num sex age cp trestbps
1   0   1   63  1  145
2   2   1   67  4  160
3   1   1   67  4  120
⋮   ⋮   ⋮   ⋮   ⋮  ⋮
301 3   1   57  4  130
302 1   0   57  2  130
303 0   1   38  3  138

In [41]:
#Preliminary Exploratory Data Analysis